#text 
{
    height: 150px;
    width: 700px;
}

#button 
{
    margin-top: 20px;
}

#result-div 
{
    margin-top: 20px;
    height: 270px;
    width: 750px;
    border: 1px solid black;

}

.text 
{
    margin-left: 25px;
    margin-bottom: -10px;
}

#result 
{
    height: 150px;
    width: 700px;
    margin-top: 20px;
    margin-left: 25px;
}

